<div class="body-box header-footer">
  <div class="main-container content-footer header-footer">
    <div class="row-content">
      <div class="column">
        <p class="header-p"> Графік роботи</p>
        <div class="vertical-line"></div>
        <ul class="row">
          <li class="btn-icon-contain title" routerLink="../" title="На головну">
            <button class="header-btn-icon title">
              <svg viewBox="0 0 31 100">
                <path [attr.d]="svg.title"></path>
              </svg>
            </button>
            <div class="title-contain">
              <h3 class="title">Folkcraft</h3>
              <h3 class="title handmade">Handmade</h3>
            </div>
          </li>
          <li>
            <p>
              Пн-Пт: 10:00-20:00
            </p>
            <p>
              Сб-Нд: 10:00-18:00
            </p>

          </li>
        </ul>
      </div>
      <div class="column">

        <p class="header-p"> Про нас </p>
        <div class="vertical-line"></div>
        <p class="about-us"><b>FolkCraft</b> - це мережа українських магазинів, які пропонують найкращі та найоригінальніші українські вироби та
          сувеніри. У наших магазинах ви зможете знайти все, що потрібно для створення атмосфери національного колориту в вашому
          будинку.</p>
      </div>
      <div class="column contact">
        <p class="header-p"> Інформація</p>
        <div class="vertical-line"></div>
        <ul class="footer-nav btn-nav">
          <li routerLink="about-us">
            Про нас
          </li>
          <li>
            Зв’язатися з нами
          </li>
          <li routerLink="help">
            Поширені питання
          </li>
          <li>
            Політика конфіденційності
          </li>
          <li routerLink="help/orders-delivery">
            Доставка та оплата
          </li>
        </ul>
      </div>

      <div class="column">

        <p class="header-p"> Контакти </p>
        <div class="vertical-line"></div>
        <ul class="footer-nav">
          <li>
            Адреса: м.Київ, вул. Зелена 12
          </li>
          <li>
            Телефон: +380 0937 536 384
          </li>
          <li>
            Email: FolkCraft@gmail.com
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>

<div class="body-box secondary-footer" >
  <div class="main-container content-footer">
    <div class="text-content">
      <p class="header-p">
        Всі права захищені. © 2022 The FolkCraft Design Автор: @FolkCraft
      </p>
    </div>
  </div>
</div>
