<section class="body-box about-us-section" data-title="about-us">
  <div class="main-container">
    <div class="horizontal-line"></div>
    <div class="main-box">
      <div class="text-block">
        <h2>Про нас</h2>

        <p><b>FolkCraft</b> - це мережа українських магазинів, які пропонують найкращі та найоригінальніші українські вироби та
          сувеніри. У наших магазинах ви зможете знайти все, що потрібно для створення атмосфери національного колориту в вашому
          будинку.</p>

        <p>Ми пропонуємо широкий вибір вишиванок, рушників, глиняного розписного посуду, художніх картин, прикрас та багато
          іншого. Усі наші товари виготовлені майстрами-виробниками з різних куточків України та мають унікальний національний
          дизайн.</p>

        <p>Наша мережа магазинів розташована по всій Україні та пропонує зручний сервіс для наших клієнтів. Ми надаємо
          можливість замовляти товари онлайн та доставляти їх безпосередньо до вашого дому, або ви можете завітати до наших
          магазинів та придбати товари на місці.</p>

        <p>Оберіть FolkCraft та зробіть свій дім більш затишним та оригінальним з нашими неповторними українськими виробами та
          сувенірами. До зустрічі в наших магазинах!</p>
      </div>
      <img src="assets/about-us.png" alt="about-us.png">
    </div>
    <div class="horizontal-line"></div>
  </div>
</section>
