<div class="basket-popup-container">
  <header>
    <h2>{{name.basket}}</h2>
    <button mat-dialog-close class="x-mark">
      <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path
          d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/>
      </svg>
    </button>
  </header>
  <div class="contain" *ngIf="this.basketService.checkProductIsNotEmpty();else elseBlock">
    <div class="basket-body">
      <ul class="basket-table-panel">
        <fc-basket-item *ngFor="let item of basketList; let last= last;" [item]="item" [last]="last"
                        (deleteEventEmit)="deleteItemFromBasket($event)"
                        (favoriteEventEmit)="favoriteItemEvent($event)"
        >

        </fc-basket-item>
      </ul>
    </div>

    <div #footer class="basket-checkout" >
      <div class="total-price">
        Загальна&nbsp;ціна:&nbsp;<span>{{totalPrice()}}&nbsp;₴</span>
      </div>
      <button class="btn-icon-contain make-order" (click)="makeOrder()" routerLink="order">
        Зробити замовлення
        <svg viewBox="0 0 100 100" width="25px">
          <path [attr.d]="svg.shopping_card">

          </path>
        </svg>
      </button>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="emptyCart">
    <p>
      Кошик порожній, але виправити це ніколи не пізно :)
    </p>
  </div>
</ng-template>
