@import "../../../../style/form-controller";

.form-block-container{
  header{
    grid-column-gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cover-color-2);
    padding: 20px 30px;
    border-bottom: 1px solid var(--grid-border-color);
    .gap{
      width: 100%;
    }
    h1{
      margin: 0;
      min-width: 300px;
    }
  }
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
  padding-bottom: 20px;
  > *{
    padding: 0 15px;
  }

  background-color: var(--cover-color-1-tr);
  border: 1px solid var(--grid-border-color);
}

li{
  display: flex;
  flex-direction: row;
  grid-column-gap: 12px;
  margin-bottom: 10px;
  align-items: center;

}
fc-input{
  flex-grow: 1;
}
.form-block{
  width: 100%;
  fc-input-form{
    flex-grow: 1;
  }
}

.submit-box-btn{
  width: 150px;
  margin: 0;;
  --icon-color: var(--color);
  padding: 5px 10px;
  border-radius: 0;
  border-bottom: 2px solid var(--cover-color-2);
  &.rename{
    background-color: var(--cover-color);
  }
}
