fc-product-order-item{
  display: table-footer-group;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: var(--cover-color);

  th{
    padding: 15px 12px 15px 0;
    text-align: left;
    position: sticky;
    top: 0;
    background-color: var(--cover-color);
  }
}

  .table-container{
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-right: 30px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--second-light-color);
    }
    &::-webkit-scrollbar-thumb:hover{
      background-color: var(--primary-color);
    }
  }

